@import '../consts.scss';

.sidebar {
  width: $sidebar-width;
  .title {
    display: block;
    background: $black-dark;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: $sidebar-title-size;
    line-height: $title-line;
    &:hover {
      color: white;
    }
  }
}

.static-side {
  background: white;
  margin-bottom: 0.75em;
}
.sticky-side {
  background: white;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 20px 10px 0;
}

.menu {
  ul {
    margin: 0;
    padding: 20px 0;
    list-style: none;
  }
}

.container {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  padding: 2px;
  border: 1px solid $gainsboro;
}

.author-name {
  color: $black-dark;
  font-weight: $bold;
  margin: 0;
}

.stat {
  margin-top: 10px;
  line-height: 1.4;
  a {
    padding: 0 10px;
    border-left: $gainsboro 1px solid;
    &:first-child {
      border-left-width: 0;
    }
  }
  a,
  span {
    display: inline-block;
  }
  .count {
    font-weight: $bold;
  }
  .name {
    color: $grey-dark;
    font-size: 0.875em;
  }
}

.back {
  transition: opacity $transition;
  margin: 8px -10px 0;
  background: $white-back;
  opacity: 0.6;
  padding: 0.5em 0;
  font-size: 0.875em;
  svg {
    vertical-align: -$font-descent;
  }
}

.show {
  cursor: pointer;
  visibility: 0.6;
  &:hover {
    opacity: 0.8;
  }
}

.hide {
  opacity: 0;
}
