@import '../common/consts.scss';

.posts {
  // align with sidebar
  padding-top: 33px;
}

.blog-post-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0.25rem;
  border-bottom: 2px solid #eee;
}

.blog-post-preview:last-child {
  border-bottom-width: 0;
}

.link-container {
  margin-top: 40px;
  text-align: center;

  .read-more {
    border: 2px solid $main-color;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 2;

    transition: background-color $transition;
    &:hover {
      border-color: $black-dark;
      background-color: $black-dark;
      color: white;
    }
  }
}
