@import '../common/consts.scss';

.post {
  text-align: center;
  padding: 60px 0 80px;
  border-bottom: $grey-light solid 1px;
  @at-root section#{&}:first-of-type {
    padding-top: 0;
  }
}

.link-container {
  margin-top: 40px;

  .read-more {
    border: 2px solid $main-color;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;

    transition: background-color $transition;
    &:hover {
      border-color: $black-dark;
      background-color: $black-dark;
      color: white;
    }
  }
}
