@import '../common/consts.scss';

.pagination {
  margin-bottom: 40px;
  text-align: center;
}

.number {
  display: inline-block;
  margin: 0 10px;
  padding: 0 12px;
  border-top: 1px solid transparent;
  position: relative;
  top: -1px;
  transition: border-top-color $transition;
  @at-root span#{&} {
    color: white;
    background-color: $grey-light;
  }
  @at-root a#{&}:hover {
    border-top-color: $black-dark;
  }
}
