@import '../common/consts.scss';

.pagination {
  margin-bottom: 80px;
  text-align: center;
}

.number {
  display: inline-block;
  margin: 0 10px;
  padding: 0 12px;
  border-top: 1px solid transparent;
  position: relative;
  top: -1px;
  transition: border-top-color $transition;
  @at-root span#{&} {
    background-color: $grey-light;
    @include color(color, page);
  }
  @at-root a#{&}:hover {
    @include color(border-top-color, link-hover);
  }
}
