@import '../common/consts.scss';

.tags,
.title {
  text-align: center;
}

.title {
  margin-bottom: 1em;
}

.count {
  font-size: 1.125em;
}

.tag {
  display: inline-block;
  margin: 8px 15px 8px 10px;
  line-height: 1.5;
  &:hover {
    @include color(color, link-hover);
  }
}

@for $ratio from 0 through 7 {
  .tag.tag-size-#{$ratio} {
    font-size: 0.875em + 0.125em * $ratio;
    color: rgb(187 - 20 * $ratio, 187 - 20 * $ratio, 187 - 20 * $ratio);

    @media (prefers-color-scheme: dark) {
      color: rgb(119 + 20 * $ratio, 119 + 20 * $ratio, 119 + 20 * $ratio);
    }
  }
}

@include mobile {
  .count {
    font-size: 0.875em;
  }
}
