@import '../consts.scss';

.tag-list {
  text-align: center;
  margin: 40px 0 0;
  padding: 0;
  li {
    display: inline-block;
  }
}

.tag {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 1px;
  font-size: 0.875em;
  border-bottom: 1px solid $grey-dark;
  &:hover {
    padding-bottom: 0;
    border-bottom: 2px solid black;
  }
}

.hidden {
  display: none;
}
