@import '../common/consts.scss';

.article {
  min-height: 350px;
}

.navigation {
  margin-top: 15px;
  border-top: 1px solid $gainsboro;
  overflow: auto;
}

.prev {
  float: left;
}

.next {
  float: right;
}
