@import '../common/consts.scss';

.article {
  display: flex;
  height: 100%;
  flex-direction: column;
  p {
    text-indent: 2em;
  }

  blockquote p,
  li p,
  p.aplayer {
    text-indent: 0;
  }
}

.navigation {
  margin-top: 15px;
  padding-top: 10px;
  @include color(border-top-color, split);
  border-top-width: 1px;
  border-top-style: solid;
  font-size: 0.875em;
  line-height: $title-line;
  display: flex;
  justify-content: space-between;
}

.spacer {
  width: 10%;
  flex-shrink: 0;
}
