@import '../common/consts.scss';

.navigation {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid $gainsboro;
  font-size: 0.875em;
  line-height: $title-line;
  display: flex;
  justify-content: space-between;
}

.spacer {
  width: 10%;
  flex-shrink: 0;
}
