.container {
  background-color: #0078d7;
  color: white;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  overflow: auto;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 4vh;
}

.emoji {
  font-size: 4em;
}

.content {
  line-height: 2em;
}

.qr {
  display: flex;
  flex-direction: row;
  .img {
    flex-shrink: 0;
  }
  img {
    height: 225px;
    width: 225px;
  }
}

.text {
  margin-left: 10%;
  font-size: 0.8em;
  line-height: initial;
}
