@import './consts.scss';

.header {
  margin-bottom: 60px;
  text-align: center;
  h1 {
    margin: 0;
    a {
      display: inline-block;
      position: relative;
      line-height: 1.2;
      &:after {
        position: absolute;
        left: 0;
        bottom: 0.125em;
        content: '';
        background-color: black;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transition: transform $transition;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.title {
  font-weight: normal;
  font-family: Raleway;
}

.stat {
  margin: 3px 0 60px 0;
  color: $grey-dark;
  font-size: 0.875em;
  svg {
    margin-right: 3px;
    vertical-align: -0.125em;
  }
  time {
    border-bottom: 1px dashed $grey-dark;
  }
}
