@import '../consts.scss';

.container {
  margin: 10px 0 0 0;
  font-size: 0.875em;
  line-height: 1.5;
}

.link {
  margin: 0 4px;
  padding: 2px 4px;

  @include color(color, 'main');
  @include svg-align;

  &:hover {
    @include color(background-color, 'body-bg');
  }
}
