@import '../consts.scss';

.header {
  background: $black-dark;
  height: 3px;
}

.layout {
  min-height: 100vh;
  background: #f5f7f9;
}

.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.main {
  background: white;
  margin: 0 12px 0 12px + $sidebar-width;
  padding: 40px;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 900px;
}
