@import '../consts.scss';

@mixin active {
  color: $blue;
  border-bottom: 1px $blue solid;
}

.sticky-side {
  background: white;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 20px 10px 0;
  font-family: $font-title;
}

.tabs {
  margin: 0 0 20px;
  padding-left: 0;
  li {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    &.active {
      @include active;
    }
    &:hover {
      color: $blue;
    }
  }
}

.container {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  padding: 2px;
  border: 1px solid $gainsboro;
}

.author-name {
  color: $black-dark;
  font-weight: $bold;
  margin: 0;
}

.description {
  color: $grey-dark;
  font-size: 0.875em;
}

.stat {
  margin-top: 10px;
  line-height: 1.4;
  display: flex;
  .count {
    font-weight: $bold;
  }
  .name {
    color: $grey-dark;
    font-size: 0.875em;
  }
}

.posts,
.tags {
  padding: 0 10px;
  flex-grow: 1;
  box-sizing: border-box;
  width: 1px;
  a {
    display: inline-block;
    text-align: center;
  }
}
.posts {
  text-align: right;
}
.line {
  width: 1px;
  background-color: $gainsboro;
}
.tags {
  text-align: left;
}

.back {
  transition: opacity $transition;
  margin: 8px -10px 0;
  background: $white-back;
  opacity: 0.6;
  padding: 0;
  font-size: 0.875em;
  svg {
    vertical-align: -$font-descent;
  }
}

.show {
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}

.hide {
  opacity: 0;
}
