@import './common/consts.scss';
@import './article.scss';

html {
  font-family: PT Sans, $font-zh, sans-serif;
}

body {
  color: $main-color;
  line-height: $base-line;
  font-size: 16px;
  margin: 0;
  background-color: $white-back;
  -webkit-tap-highlight-color: transparent;
}

.title {
  font-weight: 300;
  font-family: $font-title;
}

a {
  text-decoration: none;
  outline: none;
}

@for $head from 1 through 6 {
  h#{$head} {
    font-size: $title-size - 0.125em * ($head - 1);
  }
}

h1,
#{$second-title} {
  line-height: $title-line;
  margin: 20px 0 15px;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%;
}

table > tbody > tr {
  &:nth-of-type(odd) {
    background-color: $white;
  }
  &:hover {
    background-color: $whitesmoke;
  }
}

caption,
th,
td {
  font-weight: normal;
  padding: 8px;
  text-align: left;
}

th,
td {
  border: 1px solid $gray-lighter;
  border-bottom: 3px solid $gray-lighter;
}

th {
  font-weight: bold;
  padding-bottom: 10px;
  &:empty {
    display: none;
  }
}

td {
  border-bottom-width: 1px;
}
