$white: #f9f9f9;
$white-back: #f5f7f9;
$whitesmoke: #f5f5f5;
$gainsboro: #eee;
$gray-lighter: #ddd;
$grey-light: #ccc;
$grey: #bbb;
$grey-dark: #999;
$grey-darker: #666;
$black-light: #555;
$black: #333;
$black-dark: #222;
$red: #ff2a2a;
$blue: #4286f4;
$blue-deep: #3b547c;

$main-color: $black-light;

$base-line: 2;
$title-size: 1.75em;
$title-line: 1.5;
$sidebar-title-size: 1.375em;
$sidebar-width: 240px;
$bold: 500;
$main-width: 900px;
$main-padding: 40px;

$font-descent: 0.125em;

$transition: 0.2s ease-in-out 0s;

$second-title: h2, h3, h4, h5, h6;

$font-zh: Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans, Microsoft YaHei;
$font-mono: Fira Code, consolas, SF Mono, monospace;

@mixin nav-link {
  word-wrap: break-word;
  border-bottom: 1px solid $grey-dark;
  color: $black-light; // cover visited color
  outline: none;
  text-decoration: none;

  &:hover {
    border-bottom-color: $black-dark;
    color: $black-dark;
  }
}

@mixin svg-align() {
  svg {
    @content;
    vertical-align: -0.125em;
  }
}

@mixin mobile() {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 601px) {
    @content;
  }
}
