$whitesmoke: #f5f5f5;
$gainsboro: #eee;
$gray-lighter: #ddd;
$grey-light: #ccc;
$grey: #bbb;
$grey-dark: #999;
$grey-darker: #666;
$black-light: #555;
$black: #333;
$black-dark: #222;
$red: #ff2a2a;
$blue-light: #87daff;
$blue: #0684bd;
$blue-deep: #262a30;
$orange: #fc6423;

$main-color: $black-light;

$sidebar-width: 240px;
$bold: 600;

$transition: 0.2s ease-in-out 0s;

@mixin svg-align() {
  svg {
    @content;
    vertical-align: -0.125em;
  }
}
