$white: #f9f9f9;
$whitesmoke: #f5f5f5;
$gainsboro: #eee;
$gray-lighter: #ddd;
$grey-light: #ccc;
$grey: #bbb;
$grey-dark: #999;
$grey-darker: #666;
$black-light: #555;
$black: #333;
$black-dark: #222;
$red: #ff2a2a;
$blue-light: #87daff;
$blue: #0684bd;
$blue-deep: #262a30;
$orange: #fc6423;

$main-color: $black-light;

$title-size: 1.75em;
$title-line: 1.5;
$sidebar-title-size: 1.375em;
$sidebar-width: 240px;
$bold: 600;
$main-width: 900px;
$main-padding: 40px;

$font-descent: 0.125em;

$transition: 0.2s ease-in-out 0s;

$second-title: h2, h3, h4, h5, h6;

@function font($fonts...) {
  @if $fonts == null {
    @return 'PT Sans', sans-serif;
  }
  @return 'PT Sans', $fonts, sans-serif;
}

$font: font();
$font-zh: font('Hiragino Sans GB', 'Microsoft YaHei');

@mixin svg-align() {
  svg {
    @content;
    vertical-align: -0.125em;
  }
}
