@import '../common/consts.scss';

@function font($fonts...) {
  @if $fonts == null {
    @return 'Lato', sans-serif;
  }
  @return 'Lato', $fonts, sans-serif;
}

html {
  font-family: font();
}

html[lang='zh-cn'] {
  font-family: font('PingFang SC', 'Microsoft YaHei');
}

body {
  color: $main-color;
  line-height: 2;
  margin: 0;
}

.spacer {
  flex-grow: 1;
}

a {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
